// Color Variables
$primary-color: #E8505B;
$secondary-color: #9AC4F8;
$heading-color:rgb(241, 143, 143);
$text-color: #666666;
$text-color-dark: #222222;
$text-color-white: #ffffff;
$body-color: #fff;
$border-color: #e6dddd;
$black: #000;
$white: #fff;
$light: #F8F8F8;
$pre-background: #3d3838;
$pre-text-color: #e2dcdc;
$code-text-color: #6b6c6d;
// Font Variables
$primary-font: 'Muli',
sans-serif;
$icon-font: 'themify';